<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8" />
</head>
<body >
<section layout:fragment="header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<h2 id="nx"></h2>
<h2 id="nc"></h2>
<div layout:fragment="content">
    <iframe
    src="http://localhost:3000/public/dashboard/790a7156-f062-480f-8c89-2dab354f592c"
    frameborder="0"
    width="1800"
    height="1000"
    allowtransparency
></iframe>
    <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

</div>

</body>
</html>