<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
<!-- Sidebar users panel -->
    <div class="users-panel">
        <div class="pull-left info">
            <a href="#"></a>
        </div>
    </div>
<!-- search form -->

<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree" data-api="tree" data-accordion=0>
<li class="header"></li>
<li class="active treeview" >
<a href="#">
<i class="fa    fa-users-plus"></i> <span>User Area</span>
<span class="pull-right-container">
<i class="fa fa-angle-left pull-right"></i>
</span>
</a>
<ul class="treeview-menu" style="display: block" >
<li class="active"><a th:href="@{~/service_request}"><i class="fa fa-cubes"></i> Service Request</a></li>
    <a type="button" class="btn btn-block btn-danger " th:href="@{~/logout}"><i class="fa fa-power-off"></i>Logout</a>

</ul>
</li>
</ul>

<div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>





</section>
<!-- /.sidebar -->