<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title >Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="/plugins/jQuery/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
<div class="form-signin" width="300" height="300">
    <form th:action="@{/login}" method="POST" >
        <h1 style="color: #fff;"  th:text="Login"></h1>
        <br/>
        <input type="text" id="name" name="name" th:placeholder="name"
               class="form-control"/> <br/>


        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">name or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </form>
    <br/>
<!--    <form th:action="@{/registration}" method="get">-->
<!--        <button class="btn btn-lg btn-warning btn-block" type="Submit">Go To Registration Page</button>-->
<!--    </form>-->
</div>
</body>
</html>



