<div id="modfal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:2000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">All Work Order</h4>
            </div>
            <div class="modal-body">
                <div class='box-body pad'>

                    <div class="panel panel-default">
                        <table aria-describedby="example_info" cellspacing="0"
                               class="table table-striped table-bordered table-hover"
                               id="tabel_log_fail" role="grid" style="width: 600%;"
                               width="100%">
                            <!-- Header Table -->
                            <thead>
                            <tr>
                                <th>id_wo</th>
                                <th>id_asset</th>
                                <th>id_pm</th>
                                <th>id_dept</th>
                                <th>kode_wo</th>
                                <th>nama_dept</th>
                                <th>issue</th>
                                <th>kode_asset</th>
                                <th>lokasi</th>
                                <th>status_pekerjaan</th>
                                <th>prioritas</th>
                                <th>action</th>
                                <th>jenis_pekerjaan</th>
                                <th>Tanggal Pembuatan</th>
                                <th>Tanggal Pengerjaan</th>
                                <th>Tanggal Selesai</th>
                                <th>Down Time</th>
                            </tr>
                            </thead>
                            <!-- Footer Table -->
                        </table>
                        <input id="a" name="a" type=hidden value=""/>
                        <input id="b" name="b" type=hidden value=""/>
                        <input id="c" name="c" type=hidden value=""/>
                        <input id="d" name="d" type=hidden value=""/>
                        <input id="e" name="e" type=hidden value=""/>
                        <input id="f" name="f" type=hidden value=""/>
                        <input id="g" name="g" type=hidden value=""/>
                        <input id="h" name="h" type=hidden value=""/>
                        <input id="i" name="i" type=hidden value=""/>
                        <input id="j" name="j" type=hidden value=""/>
                        <input id="k" name="k" type=hidden value=""/>
                        <input id="l" name="l" type=hidden value=""/>
                        <input id="m" name="m" type=hidden value=""/>
                        <input id="n" name="n" type=hidden value=""/>
                        <input id="o" name="o" type=hidden value=""/>
                        <input id="p" name="p" type=hidden value=""/>
                        <input id="q" name="q" type=hidden value=""/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





































<!--<div class="col-md-12">-->
<!--<div class="nav-tabs-custom">-->
<!--<ul class="nav nav-tabs">-->
<!--<li class="active"><a data-toggle="tab" href="#tab_11">Overview</a></li>-->
<!--<li><a data-toggle="tab" href="#tab_12">General</a></li>-->
<!--<li><a data-toggle="tab" href="#tab_13">General</a></li>-->
<!--</ul>-->

<!--<div class="tab-content">-->
<!--<div class="tab-pane active" id="tab_11">-->
<!--<div class='box-body pad'>-->
<!--<div class="panel panel-default">-->
<!--<table id="tabelx" class="table table-striped table-bordered table-hover"  cellspacing="0"-->
<!--width="100%" role="grid" aria-describedby="example_info"-->
<!--style="width: 100%;">-->
<!--&lt;!&ndash; Header Table &ndash;&gt;-->
<!--<thead>-->
<!--<tr>-->
<!--<th>id_asset</th>-->
<!--<th>serial</th>-->
<!--<th>nama asset</th>-->

<!--</tr>-->
<!--</thead>-->
<!--&lt;!&ndash; Footer Table &ndash;&gt;-->
<!--</table>-->

<!--<input type=hidden id="av" name="av" value=""/>-->
<!--<input type=hidden id="bv" name="bv" value=""/>-->
<!--<input type=hidden id="cv" name="cv" value=""/>-->


<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-pane" id="tab_12">-->
<!--<div class='box-body pad'>-->
<!--<div class="panel panel-default">-->
<!--<table id="tabelmodaswo" class="table table-striped table-bordered table-hover"  cellspacing="1000" width="1000%" role="grid" aria-describedby="example_info"   style="width: 1000%;">-->
<!--&lt;!&ndash; Header Table &ndash;&gt;-->
<!--<thead>-->
<!--<tr>-->
<!--<th>id_asset</th>-->
<!--<th>serial</th>-->
<!--<th>nama asset</th>-->
<!--<th>Kode Asset </th>-->
<!--<th>Tanggal Pembelian</th>-->
<!--<th>Grup Asset</th>-->
<!--<th>Model</th>-->
<!--<th>Lokasi</th>-->
<!--</tr>-->
<!--</thead>-->
<!--&lt;!&ndash; Footer Table &ndash;&gt;-->
<!--</table>-->

<!--<input type=hidden id="ab" name="ab" value=""/>-->
<!--<input type=hidden id="bb" name="bb" value=""/>-->
<!--<input type=hidden id="cb" name="cb" value=""/>-->
<!--<input type=hidden id="db" name="db" value=""/>-->
<!--<input type=hidden id="eb" name="eb" value=""/>-->
<!--<input type=hidden id="fb" name="fb" value=""/>-->
<!--<input type=hidden id="gb" name="gb" value=""/>-->
<!--<input type=hidden id="hb" name="hb" value=""/>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-pane" id="tab_13">-->
<!--<div class='box-body pad'>-->
<!--<div class="panel panel-default">-->
<!--<table id="tabelmodpmm" class="table table-striped table-bordered table-hover"  cellspacing="0"-->
<!--width="100%" role="grid" aria-describedby="example_info"-->
<!--style="width: 100%;">-->
<!--&lt;!&ndash; Header Table &ndash;&gt;-->
<!--<thead>-->
<!--<tr>-->
<!--<th>id_</th>-->
<!--<th>id_asset</th>-->
<!--<th>Kode Asset</th>-->
<!--<th>Deskripsi PM</th>-->

<!--</tr>-->
<!--</thead>-->
<!--&lt;!&ndash; Footer Table &ndash;&gt;-->
<!--</table>-->

<!--<input type=hidden id="as" name="as" value=""/>-->
<!--<input type=hidden id="bs" name="bs" value=""/>-->
<!--<input type=hidden id="cs" name="cs" value=""/>-->
<!--<input type=hidden id="ds" name="ds" value=""/>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->