<div id="modalo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:1650px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Asset</h4><small>gak mbadok gemeter</small>
            </div>
            <div class="modal-body">
                <div class='box-body pad'>
                <span th:replace="Modal_w/mod"/>
            </div>
            </div>
        </div>
    </div>
</div>



